.PokeGrid {
    display: flex;
    grid-template-columns: 100px 100px 100px;
    gap: 20px;
    background-color: yellow; 
    width: 400px;
    height: 300px;
    overflow: auto;
}


img {
    width: 100px;
    height: 100px;
}